@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

*,
body,
html {
  font-family: "Montserrat";
}

body {
  overflow-y: hidden;
}

nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.h-33 {
  height: 40vh;
}

.-translate-y-10 {
  transform: translateY(-10%);
}
.-translate-y-30 {
  transform: translateY(-45%);
}

.-translate-y-60 {
  transform: translateY(-80%);
}

.first-collection img {
  object-position: center !important;
}

.image {
  object-fit: cover;
  object-position: 0 24%;
  height: 107%;
  box-shadow: -4px -9px 17px 0px rgba(0, 0, 0, 0.29);
}

.image.first-img {
  object-position: 0 64% !important;
}
.image.second-img {
  object-position: 0 25% !important;
}

.image:last-child {
  object-position: 0 40%;
}

.top-40 {
  top: 40%;
  transform: translateY(-50%);
}

.font-70 {
  font-size: 30px;
  font-weight: 600;
  font-family: Montserrat;

  color: #fff;
}

.pt-68px {
  padding-top: 68px;
}
