@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

* {
  font-family: "Montserrat";
}

.max-w-79 {
  padding-bottom: 0 !important;
}
nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.bg-black-linear {
  background: linear-gradient(291deg, #000 0%, #1d1d1d 100%);
}
.max-w-12xl {
  max-width: 96rem;
}

.form-title {
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 49px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.background-section {
  background-image: url(../images/contact/bg.png);
  background-size: cover;
  height: 414px;
  width: 100%;
  opacity: 0.14;
}

.img-bg {
  z-index: 2;
  left: 254px;
  top: 190px;
}

.paragraph {
  margin: 14px 0 30px;

  color: #fff;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-container {
  width: 618px;
  /* position: absolute; */
  top: -50px;
  right: 10.5%;
  background-image: url(../images/contact/bg-color.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 83px 40px;
  z-index: 20;
  height: auto;
}

.input-container {
  margin-top: 32px;
}
.feedback-input {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: 0;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 9px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.feedback-input::placeholder {
  color: #fff;
  opacity: 0.32;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: red;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #ffffff;
  border-radius: 55px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  width: 145px;
  height: 47px;
  margin-top: 20px;
}

.address {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.6px;
}

.address-mobile {
  background-image: url(../images/contact/bg-mob.png);
  background-size: cover;
  width: 100%;
  padding: 0;
}

.address p {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.6px;
}

@media (max-width: 468px) {
  [type="submit"] {
    color: #15312c;
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14.4px;
    border-radius: 60px;
    opacity: 0.83;
    background: #fff;
    box-shadow: -4px 15px 4.5px 0px rgba(0, 0, 0, 0.25);
  }
  .address-mobile {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 11px !important;
    padding-bottom: 14px !important;
  }

  .address-mobile p {
    color: #fff;
    text-align: right;
    font-family: Montserrat;
    font-size: 11px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.33px;
  }

  .location-mob {
    top: 50%;
    left: 10%;
    width: 35px !important;
    transform: translateY(-50%);
  }
}
