@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

*,
body,
html {
  font-family: "Montserrat";
}

nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.-translate-y-30 {
  transform: translateY(-30%);
}

.-translate-y-60 {
  transform: translateY(-60%);
}

.first-collection {
  background-image: url(../images/collections/collection-2.jpeg);
  background-size: cover;
  height: 263px;
  background-position: 0 7%;
}

.top-50 {
  top: 50%;
  transform: translateY(-50%);
}
.font-33 {
  font-size: 33px;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  line-height: 101%;
}

.paragraph {
  font-weight: 300;
  font-style: 21px;
  margin-top: 18px;
  line-height: 30px;
  font-family: Montserrat;
}

.links {
  margin-top: 18px;
}

.links li {
  position: relative;
}

.links li a {
  font-size: 21px;
  font-weight: 300;
  font-family: Montserrat;
}

.links li::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 100%;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;
  margin-top: 18px;
}

.images-container > div {
  aspect-ratio: 1;
  background: linear-gradient(
    26deg,
    #000 0%,
    #1a1a17 39%,
    #2a2b26 74%,
    #30312c 100%
  );
}

.fit-bottom {
  object-fit: cover;
  object-position: bottom;
}

.fit {
  object-fit: cover;
}

.object-position-135 {
  object-position: 0px -135px;
}

.object-position-190 {
  object-position: 0px -190px;
}

.object-position-160 {
  object-position: 0px -160px;
}
