* {
  font-family: Montserrat;
}

nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.max-w-12xl {
  max-width: 96rem;
}
.-translate-y-30 {
  transform: translateY(-30%);
}

.-translate-y-60 {
  transform: translateY(-60%);
}

.first-collection {
  background-image: url(../images/collections/collection-1.jpeg);
  background-size: cover;
  height: 263px;
  background-position: 0 45%;
}

.top-50 {
  top: 50%;
  transform: translateY(-50%);
}
.font-33 {
  font-size: 33px;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  line-height: 101%;
}

.paragraph {
  font-weight: 300;
  font-size: 21px;
  margin-top: 18px;
  line-height: 30px;
  font-family: Montserrat;
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 18px;
  line-height: 30px;
  font-family: Montserrat;
}

.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  transform: translateX(-100px);
  z-index: 100;
}

/* .stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -25%;
  z-index: 2;
} */

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  transform: translateY(-5px);
  z-index: 10;
}

.first-counter {
  transform: translateY(-5px) translateX(370%) !important;
}

.second-counter {
  transform: translateY(-5px) translateX(250%) !important;
}

.third-counter {
  transform: translateY(-5px) translateX(50%) !important;
}

.fourth-counter {
  transform: translateY(-5px) translateX(-150%) !important;
}

.last-counter {
  transform: translateY(-5px) translateX(-350%) !important;
}
.step-counter .line {
  left: 50%;
  transform: translateY(-50%);
  bottom: -70%;
  border-right: 1px solid #fff;
  height: 170px;
  z-index: -1;
}

.line-bottom {
  top: 265%;
}

.line::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  top: 0px;
  left: 50%;
  transform: translateX(-46%);
  border-radius: 100%;
}

.line-bottom::after {
  top: 100%;
}

.line-title {
  color: #fff;
  bottom: 112%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

.line-title-bottom {
  color: #fff;
  top: 112%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

.text-element-desc {
  top: 0;
  width: 302px;
  transform: translateX(-16%);
}

.text-element-desc-bottom {
  bottom: 0;
  width: 302px;
  transform: translateX(-20%);
}

.text-element-desc p:first-child,
.text-element-desc-bottom p:first-child {
  font-size: 30px;
}

.text-element-desc-bottom p:first-child {
  align-self: flex-end;
}

.text-element-desc p:last-child,
.text-element-desc-bottom p:last-child {
  font-size: 15px;
  font-weight: 500;
}
.stepper-item:first-child::before {
  content: none;
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 0%;
  z-index: 2;
}

.stepper-item:first-child {
  transform: translateX(-50px);
}

.stepper-item:last-child::after {
  content: none;
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 126%;
  top: 20px;
  left: 0%;
  z-index: 2;
}

.vertical-stepper a {
  position: relative;
}

.vertical-stepper a span {
  /* margin-bottom: 7px; */
}
.vertical-stepper a span:first-child:after {
  content: "";
  position: absolute;
  top: 112%;
  height: 325%;
  border-right: 3px dashed #121212;
}

.vertical-stepper li:not(:nth-child(1)) {
  margin-top: 7rem;
}
.vertical-stepper .block span {
  position: absolute;
}
