@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

*,
body,
html {
  font-family: "Montserrat";
}
nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.max-w-12xl {
  max-width: 96rem;
}
.-translate-y-30 {
  transform: translateY(-30%);
}

.-translate-y-60 {
  transform: translateY(-60%);
}

.first-collection {
  background-image: url(../images/collections/collection-1.jpeg);
  background-size: cover;
  height: 263px;
  background-position: 0 45%;
}

.top-50 {
  top: 50%;
  transform: translateY(-50%);
}
.font-33 {
  font-size: 33px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #fff;
  line-height: 101%;
}

.paragraph {
  font-weight: 300;
  font-size: 21px;
  margin-top: 18px;
  line-height: 30px;
  font-family: "Montserrat";
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 18px;
  line-height: 30px;
  font-family: "Montserrat";
}

.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  transform: translateX(-100px);
  z-index: 100;
}

/* .stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -25%;
  z-index: 2;
} */

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  transform: translateY(-5px);
  z-index: 10;
}

.first-counter {
  transform: translateY(-5px) translateX(370%) !important;
}

.second-counter {
  transform: translateY(-5px) translateX(250%) !important;
}

.third-counter {
  transform: translateY(-5px) translateX(50%) !important;
}

.fourth-counter {
  transform: translateY(-5px) translateX(-150%) !important;
}

.last-counter {
  transform: translateY(-5px) translateX(-350%) !important;
}
.step-counter .line {
  left: 50%;
  transform: translateY(-50%);
  bottom: -70%;
  border-right: 1px solid #fff;
  height: 170px;
  z-index: -1;
}

.line-bottom {
  top: 265%;
}

.line:not(.line-mob)::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  top: 0px;
  left: 50%;
  transform: translateX(-46%);
  border-radius: 100%;
}

.line-bottom::after {
  top: 100% !important;
}

.line-title {
  color: #fff;
  bottom: 112%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat-Bold";
}

.line-title-bottom {
  color: #fff;
  top: 112%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

.text-element-desc {
  top: 0;
  width: 330px;
  transform: translateX(-16%);
}

.text-element-desc-bottom {
  bottom: 0;
  width: 433px;
  transform: translateX(-13%);
}

.text-element-desc p:first-child,
.text-element-desc-bottom p:first-child {
  font-size: 30px;
}

.text-element-desc-bottom p:first-child {
  align-self: flex-end;
}

.text-element-desc p:last-child,
.text-element-desc-bottom p:last-child {
  font-size: 14px;
  font-weight: 500;
}
.stepper-item:first-child::before {
  content: none;
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 0%;
  z-index: 2;
}

.stepper-item:first-child {
  transform: translateX(-50px);
}

.stepper-item:last-child::after {
  content: none;
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 126%;
  top: 20px;
  left: 0%;
  z-index: 2;
}

.vertical-stepper a {
  position: relative;
}

.vertical-stepper a span {
  /* margin-bottom: 7px; */
}
.vertical-stepper a span:first-child:after {
  content: "";
  position: absolute;
  top: 112%;
  height: 325%;
  border-right: 3px dashed #121212;
}

.vertical-stepper li:not(:nth-child(1)) {
  margin-top: 7rem;
}
.vertical-stepper .block span {
  position: absolute;
}

@media (max-width: 468px) {
  .paragraph {
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; /* 155.556% */
    margin-bottom: 0 !important;
  }

  .step-back {
    padding: 0 32px;
  }

  .step-back > div {
    border: 0.1px solid #393939;
    height: 200px;
    position: relative;
  }

  .step-back > div::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 100%;
  }

  .step-back > div:nth-child(1)::after,
  .step-back > div:nth-child(3)::after,
  .step-back > div:nth-child(5)::after {
    left: -4px;
  }

  .step-back > div:nth-child(2)::after,
  .step-back > div:nth-child(4)::after {
    right: -4px;
    top: 12%;
  }

  .step-back > div:nth-child(3)::after {
    top: 12%;
  }

  .step-back > div:nth-child(5)::after {
    top: 12%;
  }

  .step-back > div:nth-child(1) {
    border-top: 0;
    border-right: 0;
  }

  .step-back > div:nth-child(2) {
    border-top: 0;
    border-left: 0;
  }

  .step-back > div:nth-child(3) {
    border-top: 0;
    border-right: 0;
  }

  .step-back > div:nth-child(4) {
    border-top: 0;
    border-left: 0;
  }

  .step-back > div:nth-child(5) {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    height: 120px;
  }

  .data-mob {
    padding: 0 32px;
  }

  .data-mob:nth-of-type(1) {
    position: absolute;
    left: 10%;
    top: 9%;
  }

  .icon-con {
    background-color: transparent;
    width: 70px;
    height: 70px;
    color: #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-element-desc {
    width: auto !important;
  }

  .second-icon-con {
    left: 315% !important;
  }

  .text-mob {
    padding-left: 50px;
    font-size: 11px;
    transform: translateY(-8%);
  }

  .line-title {
    white-space: nowrap;
  }

  .second-line-title {
    top: -5px;
    right: -340px;
  }

  .second-text-mob {
    transform: translateX(-40px);
  }

  .third-line-title {
    top: -3px;
    left: 40px;
  }

  .fourth-line-title {
    left: -4px;
    position: absolute;
    top: -2px;
  }
  .line-mob-five {
    left: 90px;
    top: -3px;
  }

  .last-line-title {
    top: -4px;
    left: 5px;
  }

  .bg-black {
    padding-bottom: 6em;
  }

  .first-collection-for-mob {
    top: 35% !important;
  }
}

@media (min-width: 360px) {
  .second-icon-con {
    left: 314% !important;
    top: 50px;
  }

  .first-icon-con,
  .third-icon-con,
  .fourth-icon-con {
    right: 90%;
    top: 45px;
  }

  .first-line {
    left: 10px;
  }
}
@media (min-width: 400px) {
  .icon-con {
    left: -104% !important;
    top: 40px;
    position: absolute;
  }
  .second-icon-con {
    left: 388% !important;
  }

  .line-mob-five {
    left: 145px;
  }

  .second-line-title {
    right: -390px !important;
  }

  .third-line-title {
    left: 35px;
  }

  .last-line-title {
    left: -4px !important;
    top: -9px !important;
  }

  .fourth-line-title {
    left: -11px;
  }

  .second-line-title {
    right: -385px !important;
  }

  .first-line {
    left: 0 !important;
  }
}
