.max-w-79 {
  max-width: 79%;
}

@media (max-width: 1366px) {
  .share-circle {
    display: none;
  }

  div.card {
    width: 45%;

    transform: translateY(0);
    margin-top: 50px;
  }

  .cards-container card:nth-child(1) {
    margin: 0 !important;
  }

  .cards-container {
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 7rem;
  }

  div.card img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 102%;
    background-color: #0a0a0a;
    width: 100%;
    left: 0;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s linear, opacity 0.2s linear;
    padding: 10px;
    z-index: 999;
  }

  .menu.open {
    opacity: 1;
  }

  .menu a {
    display: block;
    padding: 12px 8px;
    color: #868686;
    transition: all 0.2s ease-in;
    font-size: 13px;
  }

  .menu a:hover {
    color: #fff;
  }

  .nav-btn {
    outline: none !important;
    border: 2px solid #242424;
    padding: 7px;
    border-radius: 4px;
  }

  .social-links i {
    font-size: 16px;
  }

  .footer svg {
    height: 40px;
  }

  .font-100 {
    font-size: 30px;
  }

  .hero-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-first-grid,
  .hero-fourth-grid {
    width: 100%;
    height: 150px;
  }

  .hero-fifth-grid > div {
    height: 120px !important;
    width: 50% !important;
  }

  .hero-second-grid,
  .hero-third-grid {
    width: 48%;
    height: 120px !important;
  }

  .hero-fifth-grid > div:nth-child(2) {
    background-position: center;
  }

  #cssportal-grid2 {
    display: flex !important;
    grid-template-columns: auto;
    width: 100%;
    height: 150px;
  }

  .about:not(.personalized-cards, .luxury) {
    padding-bottom: 6rem;
  }

  .about > div:not(.ceo-msg) {
    margin-top: 0;
  }
  .about-content {
    font-size: 20px;
    line-height: 50px;
    margin: 0;
  }

  .gifts {
    height: 385px;
  }
  .gifts span:nth-child(1),
  .gifts span:nth-child(2) {
    font-size: 22px;
  }

  .gifts span {
    line-height: 40px;
  }

  .gifts span:nth-child(3),
  .gifts span:nth-child(4) {
    font-size: 30px;
  }

  .rounded-t-90:not(.all-collections img, .first-collection) {
    border-radius: 40px;
  }

  .all-collections img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .font-70 {
    font-size: 22px;
  }

  .gifts:not(.gifts-in-home) {
    height: auto;
  }

  .gift-p {
    font-size: 16px;
  }

  .ceo {
    transform: translateX(0) !important;
    width: 50%;
    margin: auto;
  }

  .form-container {
    position: relative;
    margin: 40px auto;
    right: 0;
    top: 0;
    padding: 30px 20px 30px !important;
    width: 88% !important;
  }

  .input-container {
    margin-top: 15px;
  }

  .feedback-input {
    font-size: 14px;
    padding: 9px 12px;
  }

  [type="submit"] {
    font-size: 15px;
    font-weight: 700;
    width: 130px;
    height: 44px;
  }

  .address p {
    font-size: 16px;
  }

  .first-collection:not(.personalized) {
    height: 200px;
  }

  .font-33 {
    font-size: 22px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .links {
    margin: 36px 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .links li a {
    font-size: 16px;
    font-weight: 500;
  }

  .images-container > div,
  .images-container img {
    border-radius: 14px;
  }

  .images-container > div {
    margin-top: 14px;
  }

  .images-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .personalized {
    background-position: center;
    height: 200px;
  }

  .about .title {
    font-size: 16px;
    font-weight: 500;
  }
  .card.first-card {
    margin: 0 !important;
  }
  div.card {
    margin-top: 40px;
    width: 100%;
    height: 360px;
  }

  .card:nth-child(even) {
    transform: translateY(0);
  }
  div.card .number {
    width: 60px;
    height: 60px;
    top: -9%;
  }

  div.card h2 {
    top: 50px;
    font-size: 16px;
  }

  div.card .number {
    font-size: 20px;
  }

  .card-desc {
    font-size: 14px;
  }

  .cards-container {
    padding-top: 65px;
    margin-top: 5rem;
  }

  .vertical-stepper li:not(:nth-child(1)) {
    margin-top: 6.5rem;
  }
  .vertical-stepper .block span {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .ceo {
    transform: translateX(15%) translateY(12%) !important;
  }

  .form-container {
    position: absolute;
  }
}

@media (max-width: 576px) {
  .hero-second-grid,
  .hero-third-grid {
    width: 47.5%;
    height: 120px !important;
  }

  .hero-fourth-grid {
    background-position: 125px 260px;
  }

  #grid6 span {
    font-size: 14px;
    line-height: 20px;
    padding-block-start: 5px;
  }

  .h-33 {
    height: 25vh;
  }

  .first-sec-p {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
  }

  .first-img-sec {
    width: 120px;
  }

  .images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 468px) {
  nav {
    padding: 0 22px;
  }
  .max-w-79 {
    max-width: 100%;
  }
  .hero-second-grid,
  .hero-third-grid {
    width: 46%;
    height: 120px !important;
  }

  .images-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.px-202px {
  padding: 0 202px;
}
