* {
  font-family: Montserrat;
}
.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.max-w-12xl {
  max-width: 96rem;
}
.-translate-y-30 {
  transform: translateY(-30%);
}

.-translate-y-60 {
  transform: translateY(-60%);
}

.first-collection {
  background-image: url(../images/collections/collection-2.jpeg);
  background-size: cover;
  height: 263px;
  background-position: 0 -95px;
  background-repeat: no-repeat;
}

.top-50 {
  top: 50%;
  transform: translateY(-50%);
}
.font-33 {
  font-size: 33px;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  line-height: 101%;
}

.paragraph {
  font-weight: 300;
  font-size: 21px;
  margin-top: 18px;
  line-height: 30px;
  font-family: Montserrat;
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 18px;
  line-height: 30px;
  font-family: Montserrat;
}

div.card {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 500px;
  width: 180px;
}

div.card img {
  border-radius: 25px;
}

div.card h2 {
  background: #142f2a;
  display: inline-block;
  color: #fff;
  padding: 8px 25px;
  position: absolute;
  top: 70px;
  left: -12px;
  right: 0;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
}

div.card h2::before {
  content: "";
  position: absolute;

  bottom: -9px;
  left: 3px;
  transform: rotate(45deg);
  border: 9px solid #142f2a;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
}

div.card .card-desc {
  background-color: #142f2a;
  padding: 16px 7px;
  position: absolute;
  bottom: 30px;
  left: -20px;
  width: 90%;
  color: #fff;
  font-weight: 300;
}

div.card .number {
  position: absolute;
  top: -10%;
  left: -5%;
  background-color: #fff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

div.card .number::before {
  content: "";
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  box-shadow: 0px 0px 0px 7px #0d524545;
  position: absolute;
  border-radius: 100%;
}

.card:nth-child(even) {
  transform: translateY(-100px);
}

.share-circle {
  position: absolute;
  width: 19%;
  height: 200px;
  z-index: 0;
  border-radius: 174px;
}

.first-circle {
  left: 7%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.second-circle {
  left: 24.5%;
  bottom: 0%;
  border: 2px dotted #ffffff;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 18% !important;
}

.third-circle {
  left: 42.5%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 18%;
}

.fourth-circle {
  left: 58.5%;
  bottom: 0%;
  border: 2px dotted #ffffff;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 18% !important;
}

.fifth-circle {
  left: 77%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 18%;
}
