@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

* {
  font-family: "Montserrat";
}

body {
  overflow-x: hidden;
}

nav {
  border-bottom-color: #fff !important;
}

.rounded-t-90 {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.max-w-12xl {
  max-width: 96rem;
}
.-translate-y-30 {
  transform: translateY(-30%);
}

.-translate-y-60 {
  transform: translateY(-60%);
}

.first-collection {
  background-image: url(../images/collections/collection-3.jpeg);
  background-size: cover;
  height: 263px;
  background-position: 0 35%;
  background-repeat: no-repeat;
}

.top-50 {
  top: 50%;
  transform: translateY(-50%);
}
.font-33 {
  font-size: 33px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #fff;
  line-height: 101%;
}

.paragraph {
  font-weight: 300;
  font-size: 21px;
  margin-top: 18px;
  line-height: 30px;
  font-family: "Montserrat";
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 18px;
  line-height: 30px;
  font-family: "Montserrat";
}

div.card {
  position: relative;

  border-radius: 25px;
  height: 500px;
  width: 180px;
}

div.card img:not(.mob) {
  border-radius: 25px;
  object-fit: cover;
}

div.card .first-img {
  object-position: 77%;
}

div.card .third-img {
  object-position: 70%;
}

div.card .fourth-img {
  object-position: 77%;
}

div.card .fifth-img {
  object-position: 70%;
}

div.card h2 {
  background: #142f2a;
  display: inline-block;
  color: #fff;
  padding: 8px 25px;
  position: absolute;
  top: 70px;
  left: -12px;
  right: 0;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
}

div.card h2::before {
  content: "";
  position: absolute;

  bottom: -9px;
  left: 3px;
  transform: rotate(45deg);
  border: 9px solid #142f2a;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
}

div.card .card-desc {
  background-color: #142f2a;
  padding: 16px 7px;
  position: absolute;
  bottom: 30px;
  left: -20px;
  width: 90%;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

div.card .number {
  position: absolute;
  top: -10%;
  left: -5%;
  background-color: #fff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

div.card .number::before {
  content: "";
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  box-shadow: 0px 0px 0px 7px #0d524545;
  position: absolute;
  border-radius: 100%;
}

.card:nth-child(even) {
  transform: translateY(-100px);
}

.share-circle {
  position: absolute;
  width: 19%;
  height: 200px;
  z-index: 0;
  border-radius: 174px;
}

.first-circle {
  left: 7%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.second-circle {
  left: 24.5%;
  bottom: -15%;
  border: 2px dotted #ffffff;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 18% !important;
}

.third-circle {
  left: 42.5%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 18%;
}

.fourth-circle {
  left: 58.5%;
  bottom: -15%;
  border: 2px dotted #ffffff;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 18% !important;
}

.fifth-circle {
  left: 77%;
  top: -32%;
  border: 2px dotted #ffffff;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 18%;
}

@media (max-width: 576px) {
  .personalized-cards {
    padding: 0 !important;
  }

  .paragraph + p {
    padding-top: 0 !important;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 200% */
  }

  .first-connector {
    top: 37%;
    left: 74%;
    z-index: -1;
  }

  .first-connector {
    transform: rotateX(180deg);
  }

  .second-connector {
    top: 40%;
    transform: rotateX(180deg) rotateY(180deg);
    right: 47%;
    z-index: -1;
    right: 71%;
  }

  .third-connector {
    left: 75%;
    transform: rotateX(180deg);
    top: 35%;
    z-index: -1;
  }

  .fourth-connector {
    top: 40%;
    transform: rotateX(180deg) rotateY(180deg);
    left: -61%;
    z-index: -1;
  }

  .fifth-connector {
    top: 40%;
    transform: rotateX(180deg);
    right: -65%;
    z-index: -1;
  }

  div.card img.mob {
    height: auto;
    border-radius: 15px;
  }

  div.card .card-desc {
    background-color: transparent;
    left: 0;
    width: 100%;
    padding: 0 0 !important;
    margin-top: 4em;
    font-size: 11px !important;
    position: relative;
    text-align: justify;
  }

  .cards-container {
    margin-bottom: 0;
  }

  div.card {
    height: auto !important;
  }

  div.card h2 {
    padding-left: 20px !important;
  }
  div.card h2.text-right {
    left: 0px;
    right: -20px;
    width: 108%;
    position: relative;
    padding-right: 20px;
  }

  div.card h2.text-right::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 93%;
    transform: rotate(102deg);
    border: 15px solid #142f2a;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    z-index: -1;
  }

  .six-card .number,
  .fourth-card .number,
  .second-card .number {
    width: 60px;
    height: 60px;
    top: 0 !important;
  }

  .six-card h2,
  .fourth-card h2,
  .second-card h2 {
    transform: translateY(20px);
  }

  .personalized-cards {
    margin-top: 26px !important;
  }
}
